@use '../helpers' as *;

@media screen and (min-width: 2200px) {}

@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1700px) {}

@media screen and (max-width: 1600px) {
    .form__topBar {
        &-wrapper {
            &::before {
                left: 45.8% !important;
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .form {
        &__topBar {
            &-wrapper {
                &::before {
                    left: 45.4% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .fav__page {
        .main {
            &__contentWrapper {
                flex-direction: column;
                gap: 20px;

                .sideContent {
                    display: none !important;
                }

                .mobileSideContent {
                    display: flex !important;
                    align-items: center;
                    justify-content: space-between;

                    .emojiGroup {
                        @include flex-center;
                        position: relative;
                        z-index: 3;

                        &__item {
                            &-wrapper {
                                position: relative;
                                width: 91px;
                                height: 91px;
                            }


                            &-disk,
                            &-ellipse,
                            &-smile {
                                position: absolute;
                            }

                            &-disk {
                                inset: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                            }

                            &-ellipse {
                                top: 50%;
                                left: 50%;
                                width: 51px;
                                height: 51px;
                                z-index: 2;
                            }

                            &-smile {
                                top: 50%;
                                left: 50%;
                                height: 70px;
                                z-index: 3;
                            }
                        }

                    }

                    .pointers {
                        &__item {
                            width: 72px;
                            height: 52px;
                            @include background-cover('/img/thumb_pink_reverse.svg');
                        }
                    }

                    .prizeInfo {
                        @include flex-center;
                        width: 299px;
                        height: 91px;
                        margin-left: -20px;
                        @include background-cover('/img/blue_rounded.svg');

                        &__text {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 233px;
                            height: 40px;
                            margin: 25px 32px 25px 35px;
                            color: $white;
                            font-family: font('unbounded', 'semibold');
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: 0.4px;

                            &-insurance {
                                align-self: flex-start;
                            }

                            &-value {
                                align-self: flex-end;
                            }
                        }
                    }

                    .bonusSpark {
                        @include flex-center;

                        &__content {
                            @include flex-center;
                            width: 226px;
                            height: 144px;
                            @include background-cover('/img/top_spark.svg');
                        }

                        &__text {
                            width: 122px;
                            height: 52px;
                            @include background-cover('/img/20FS_mobile.svg');
                        }
                    }

                    &--top {
                        .emojiGroup {
                            &__item {
                                @include emoji-rotations('left');
                            }
                        }
                    }

                    &--bottom {
                        .pointers {
                            &__item {
                                @include background-cover('/img/thumb_pink.svg');
                            }
                        }

                        .prizeInfo {
                            margin-left: 0;
                        }

                        .emojiGroup {
                            &__item {
                                @include emoji-rotations('right');
                                margin-left: -15px;
                            }
                        }
                    }
                }

                .form__topBar {
                    &-wrapper {
                        &::before {
                            left: 46.1% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {} //important

@media screen and (max-width: 1300px) {} //important!!

@media screen and (max-width: 1100px) {} //important

@media screen and (max-width: 1000px) {} //important!!!

@media screen and (max-width: 900px) {} //important!

@media screen and (max-width: 750px) {} //important!

@media screen and (max-width: 700px) {} //important!!!

@media screen and (max-width: 570px) {} //important

@media screen and (max-width: 500px) {} //important

@media screen and (max-width: 410px) {} //important

@media screen and (max-width: 374px) {}  //important!!

@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px) {} //important!

@media screen and (max-width: 700px) and (orientation: landscape) and (max-height: 450px) {} //important!