@use '../helpers' as *;

@media screen and (min-width: 2400px) {
    .main__contentWrapper {
        scale: 1.3 !important;
    }
}

@media screen and (min-width: 2200px) {
    .main__contentWrapper {
        scale: 1.2;
    }
}

//Unused
@media screen and (max-width: 1800px) {}

//Unused
@media screen and (max-width: 1700px) {}

@media screen and (max-width: 1600px) {
    .form__topBar {
        &-wrapper {
            &::before {
                left: 45.8% !important;
            }
        }
    }
}

@media screen and (max-width: 1550px) {
    .form {
        &__topBar {
            &-wrapper {
                &::before {
                    left: 45.4% !important;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    .main {
        &__contentWrapper {
            // flex-direction: column;
            // gap: 20px;

            .sideContent {

                // display: none !important;
                &--left {
                    margin-right: -10px !important;
                    scale: 0.8;
                }

                &--right {
                    margin-left: -25px !important;
                    scale: 0.8;
                }
            }

            .form__topBar {
                &-wrapper {
                    &::before {
                        // left: 46.1% !important;
                    }
                }
            }
        }
    }
}

//Unused
@media screen and (width <=1500px) and (height <=1100px) {
    // .main {
    //     &__contentWrapper {
    //         .mobileSideContent {
    //             &--top {
    //                 scale: 0.9;
    //                 margin-bottom: -15px;
    //             }

    //             &--bottom {
    //                 scale: 0.9;
    //                 margin-top: -15px;
    //             }
    //         }
    //     }
    // }
}

//Unused
@media screen and (width <=1470px) and (height <=768px) {
    //     .main {
    //         &__contentWrapper {
    //             .sideContent {
    //                 &--left {
    //                     scale: 0.9;
    //                 }

    //                 &--right {
    //                     scale: 0.9;
    //                 }
    //             }

    //             .form {
    //                 &__outerWrapper {
    //                     scale: 0.9;
    //                 }
    //             }
    //         }
    //     }
}

//Unused
@media screen and (1440px <=width <=1500px) and (900px <=height <=1050px) {
    // .main {
    //     &__contentWrapper {
    //         .mobileSideContent {
    //             &--top {
    //                 scale: 0.7;
    //                 margin-bottom: -55px;
    //             }

    //             &--bottom {
    //                 scale: 0.7;
    //                 margin-top: -55px;
    //             }
    //         }

    //         .form {
    //             &__outerWrapper {
    //                 // scale: 0.9;
    //             }
    //         }
    //     }
    // }
}

@media screen and (1440px <=width <1500px) and (715px <=height <=800px) {
    .fav__page {
        .main {
            &__contentWrapper {
                .form {
                    &__outerWrapper {
                        scale: 0.9 !important;
                    }
                }
            }
        }
    }
}

//important
@media screen and (max-width: 1400px) {
    .main {
        &__contentWrapper {
            .form {
                &__topBar {
                    &-wrapper {
                        &::before {
                            left: 45.1% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (width=1366px) and (height <=1050px) {
    .main {
        &__contentWrapper {
            .form {
                &__image-container {
                    &--right {
                        margin-top: 18px !important;
                    }
                }
            }
        }
    }
}

//! 1366х950 чи зменшувати висоту банерів?
@media screen and (width=1366px) and (height <=950px) {
    .main {
        &__contentWrapper {
            flex-direction: row !important;
            gap: 0 !important;

            .sideContent {
                display: flex !important;

                &--left {
                    // margin-right: -35px !important;
                    scale: 0.8;
                }

                &--right {
                    // margin-left: -50px !important;

                    scale: 0.8;
                }
            }

            .form {
                &__topBar {
                    &-wrapper {
                        &::before {
                            // left: 45.5% !important;
                        }
                    }
                }

                &__image-container {
                    &--right {
                        margin-top: 18px !important;
                    }
                }
            }
        }
    }
}

@media screen and (width=1366px) and (height <=800px) {
    .main {
        &__contentWrapper {
            .sideContent {
                &--left {
                    scale: 0.8;
                    margin-right: -40px !important;
                }

                &--right {
                    scale: 0.8;
                    margin-left: -60px !important;

                }
            }

            .form {
                &__outerWrapper {
                    scale: 0.9;
                }

                &__topBar {
                    &-wrapper {
                        &::before {
                            left: 45.2% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (width=1366px) and (height <=720px) {
    .main {
        &__contentWrapper {
            .sideContent {
                &--left {
                    scale: 0.7;
                    margin-right: -100px !important;
                }

                &--right {
                    scale: 0.7;
                    margin-left: -110px !important;

                }
            }

            .form {
                &__outerWrapper {
                    scale: 0.8;
                }

                &__topBar {
                    &-wrapper {
                        &::before {
                            left: 46% !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (width=1366px) and (618px <=height <=650px) {
    .main {
        &__contentWrapper {
            .sideContent {
                &--left {
                    margin-right: -140px !important;
                }

                &--right {
                    margin-left: -150px !important;
                }
            }

            .form {
                &__outerWrapper {
                    scale: 0.7 !important;
                }
            }
        }
    }
}

@media screen and (1000px <=width <=1365px) {
    .fav__page {
        .main {
            &__contentWrapper {
                flex-direction: column !important;
                gap: 10px !important;

                .sideContent {
                    &--left {
                        display: none !important;
                    }

                    &--right {
                        display: none !important;
                    }
                }

                .mobileSideContent {

                    display: flex !important;
                    align-items: center;

                    .emojiGroup {
                        @include flex-center;
                        position: relative;
                        z-index: 3;

                        &__item {
                            &-wrapper {
                                position: relative;
                                width: 91px;
                                height: 91px;
                            }


                            &-disk,
                            &-ellipse,
                            &-smile {
                                position: absolute;
                            }

                            &-disk {
                                inset: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                            }

                            &-ellipse {
                                top: 50%;
                                left: 50%;
                                width: 51px;
                                height: 51px;
                                z-index: 2;
                            }

                            &-smile {
                                top: 50%;
                                left: 50%;
                                height: 70px;
                                z-index: 3;
                            }
                        }

                    }

                    .pointers {
                        &__item {
                            width: 72px;
                            height: 52px;
                            @include background-cover('/img/thumb_pink_reverse.svg');
                        }
                    }

                    .prizeInfo {
                        @include flex-center;
                        width: 299px;
                        height: 91px;
                        margin-left: -20px;
                        @include background-cover('/img/blue_rounded.svg');

                        &__text {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 233px;
                            height: 40px;
                            margin: 25px 32px 25px 35px;
                            color: $white;
                            font-family: font('unbounded', 'semibold');
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: 0.4px;

                            &-insurance {
                                align-self: flex-start;
                            }

                            &-value {
                                align-self: flex-end;
                            }
                        }
                    }

                    .bonusSpark {
                        @include flex-center;

                        &__content {
                            @include flex-center;
                            width: 226px;
                            height: 144px;
                            @include background-cover('/img/top_spark.svg');
                        }

                        &__text {
                            width: 122px;
                            height: 52px;
                            @include background-cover('/img/20FS_mobile.svg');
                        }
                    }

                    &--top {
                        .emojiGroup {
                            &__item {
                                @include emoji-rotations('left');
                            }
                        }
                    }

                    &--bottom {
                        .pointers {
                            &__item {
                                @include background-cover('/img/thumb_pink.svg');
                            }
                        }

                        .prizeInfo {
                            margin-left: 0;
                        }

                        .emojiGroup {
                            &__item {
                                @include emoji-rotations('right');
                                margin-left: -15px;
                            }
                        }
                    }
                }

                .form {
                    &__topBar {
                        &-wrapper {
                            &::before {
                                left: 45.3% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

//Unused
@media screen and (max-width: 1300px) {}

///Unused
@media screen and (max-width: 1100px) {}

//important!!!
@media screen and (width <=1000px) {
    .fav__page {
        .banner {
            height: $tablet-banner-height !important;

            &__takeBonus {
                @include colored-section($pink, '/img/pink_rect_vector.svg', 'tablet');
                width: 319px !important;

                &-content {
                    @include banner-text;
                    width: 212px !important;
                    height: 15px !important;
                    font-size: 16px !important;
                    letter-spacing: 0.24px !important;
                }
            }

            &__currency {
                @include colored-section($pink, '/img/blue_rect_vector.svg', 'tablet');
                width: 173px !important;

                &-content {
                    width: 106.4px !important;
                    height: 26px !important;
                }
            }

            &__bonusHere {
                @include colored-section($pink, '/img/pink_rect_vector.svg', 'tablet');
                width: 321px !important;

                &-content {
                    gap: 11px !important;
                    width: 321px !important;
                    padding: 0 19px !important;

                    &-pic {
                        width: 27px !important;
                        height: 19px !important;
                    }

                    &-text {
                        @include banner-text;
                        font-size: 16px !important;
                        letter-spacing: 0.24px !important;
                        width: 79px !important;
                        height: 14px !important;
                    }
                }
            }

            &__fs {
                @include colored-section($pink, '/img/blue_rect_vector.svg', 'tablet');
                width: 213.4px !important;

                &-content {
                    width: 160px !important;
                    height: 22px !important;
                }
            }
        }

        .main {
            margin-top: $tablet-banner-height !important;
            height: calc(100vh - $tablet-banner-height * 2) !important;

            &__contentWrapper {
                flex-direction: column !important;
                gap: 10px !important;

                .sideContent {
                    &--left {
                        display: none !important;
                    }

                    &--right {
                        display: none !important;
                    }
                }

                .mobileSideContent {

                    display: flex !important;
                    align-items: center;

                    .emojiGroup {
                        @include flex-center;
                        position: relative;
                        z-index: 3;

                        &__item {
                            &-wrapper {
                                position: relative;
                                width: 91px;
                                height: 91px;
                            }


                            &-disk,
                            &-ellipse,
                            &-smile {
                                position: absolute;
                            }

                            &-disk {
                                inset: 0;
                                width: 100%;
                                height: 100%;
                                z-index: 1;
                            }

                            &-ellipse {
                                top: 50%;
                                left: 50%;
                                width: 51px;
                                height: 51px;
                                z-index: 2;
                            }

                            &-smile {
                                top: 50%;
                                left: 50%;
                                height: 70px;
                                z-index: 3;
                            }
                        }

                    }

                    .pointers {
                        &__item {
                            width: 72px;
                            height: 52px;
                            @include background-cover('/img/thumb_pink_reverse.svg');
                        }
                    }

                    .prizeInfo {
                        @include flex-center;
                        width: 299px;
                        height: 91px;
                        margin-left: -20px;
                        @include background-cover('/img/blue_rounded.svg');

                        &__text {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            width: 233px;
                            height: 40px;
                            margin: 25px 32px 25px 35px;
                            color: $white;
                            font-family: font('unbounded', 'semibold');
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: 0.4px;

                            &-insurance {
                                align-self: flex-start;
                            }

                            &-value {
                                align-self: flex-end;
                            }
                        }
                    }

                    .bonusSpark {
                        @include flex-center;

                        &__content {
                            @include flex-center;
                            width: 226px;
                            height: 144px;
                            @include background-cover('/img/top_spark.svg');
                        }

                        &__text {
                            width: 122px;
                            height: 52px;
                            @include background-cover('/img/20FS_mobile.svg');
                        }
                    }

                    &--top {
                        .emojiGroup {
                            &__item {
                                @include emoji-rotations('left');
                            }
                        }
                    }

                    &--bottom {
                        .pointers {
                            &__item {
                                @include background-cover('/img/thumb_pink.svg');
                            }
                        }

                        .prizeInfo {
                            margin-left: 0;
                        }

                        .emojiGroup {
                            &__item {
                                @include emoji-rotations('right');
                                margin-left: -15px;
                            }
                        }
                    }
                }

                .form {
                    &__outerWrapper {
                        width: 705px !important;
                        padding-top: 41px !important;
                    }

                    &__image-container {
                        &--left {
                            display: none !important;
                        }

                        &--right {
                            display: none !important;
                        }
                    }

                    &__container {
                        justify-content: center !important;
                        align-items: center !important;
                    }

                    &__topBar {
                        height: 38px !important;

                        &::before,
                        &::after {
                            mask-image: url('/img/tablet_top_bar.png') !important;
                        }

                        &-wrapper {
                            &::before {
                                left: 46% !important;
                                width: 53px !important;
                                height: 2.4px !important;
                            }
                        }

                        &-logoWrapper {
                            width: 22px !important;
                            height: 22px !important;
                            margin: 6.4px 0 6.4px 14.5px !important;

                            &::after {
                                left: calc(100% + 8px) !important;
                                width: 60px !important;
                                height: 13px !important;
                            }

                            &--logo {
                                width: 17px !important;
                            }

                            &--backdrop {
                                height: 22px !important;
                                width: 22px !important;
                            }
                        }

                        &-btnImage {
                            height: 13px !important;
                            width: 13px !important;
                            margin: 13px 12px 12px 0 !important;
                        }
                    }

                    &__mainContent {
                        padding: 46px 0 0 0 !important;
                    }
                }
            }
        }
    }
}

//Unused
@media screen and (max-width: 900px) {}

@media screen and (width <=768px) and (height <=1024px) {
    .fav__page {
        .main {
            &__contentWrapper {
                gap: 0 !important;

                .mobileSideContent {
                    &--top {
                        scale: 0.8;
                    }

                    &--bottom {
                        scale: 0.8;
                    }
                }
            }
        }
    }
}

@media screen and (width <=768px) and (height <=977px) {
    .fav__page {
        .main {
            &__contentWrapper {
                .mobileSideContent {
                    &--top {
                        scale: 0.7;
                    }

                    &--bottom {
                        scale: 0.7;
                    }
                }

                .form {
                    &__outerWrapper {
                        // scale: 0.9;
                        margin-top: -15px;
                        margin-bottom: -15px;
                    }
                }
            }
        }
    }
}

@media screen and (width <=768px) and (height <=954px) {
    .fav__page {
        .main {
            &__contentWrapper {
                .form {
                    &__outerWrapper {
                        scale: 0.9;
                        margin-top: -40px;
                        margin-bottom: -40px;
                    }
                }
            }
        }
    }
}

//important!
@media screen and (max-width: 750px) {}

//important!!!
@media screen and (max-width: 700px) {}

//important
@media screen and (max-width: 570px) {}

//important
@media screen and (max-width: 500px) {}

//important
@media screen and (max-width: 410px) {}

//important!!
@media screen and (max-width: 374px) {}

//important!
@media screen and (max-width: 920px) and (orientation: landscape) and (max-height: 450px) {}

//important!
@media screen and (max-width: 700px) and (orientation: landscape) and (max-height: 450px) {}