@use '../helpers' as *;

:root {
    font-size: 16px;
}

.fav__page {
    position: relative;
    height: 1215px;
    width: 100%;
    overflow: hidden;
    background-color: $dark-blue;
    @include background-cover('https://fav-prom.com/html/verification/img/Union.svg');
    z-index: 0;


    .background {
        // &__grid {
        //     @include fixed-full;
        //     z-index: -2;
        //     background-color: $dark-blue;
        //     @include background-cover('https://fav-prom.com/html/verification/img/Union.svg');
        // }

        &__ellipse {
            position: absolute;
            width: 850px;
            height: 120px;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 100%;
            box-shadow: 0px 0px 290px 280px rgba(255, 38, 126, 0.35);
            background: rgba(255, 38, 126, 0.4);
        }
    }

    .banner {
        width: 100%;
        height: $banner-height;

        &--top,
        &--bottom {
            position: absolute;
            left: 0;
            z-index: 10;
        }

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }

        &__content {
            display: flex;
            flex-wrap: nowrap;
        }

        &__takeBonus {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/pink_rect_vector.svg', 'desktop');
            width: 456px;

            &-content {
                @include banner-text;
                width: 341px;
                height: 31px;
                white-space: nowrap;
            }
        }

        &__currency {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/blue_rect_vector.svg', 'desktop');
            width: 247px;

            &-content {
                @include flex-center;
                width: 152px;
                height: 37px;
                flex-shrink: 0;
                color: $white;
                @include background-cover('https://fav-prom.com/html/verification/img/currency.svg');
            }
        }

        &__bonusHere {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/pink_rect_vector.svg', 'desktop');
            width: 458px;

            &-content {
                &-desktop {
                    @include flex-center;
                    gap: 14px;
                    width: 458px;
                    height: 70.8px;
                    padding: 0 27px;
                    color: $white;
                }

                &-mobile {
                    display: none;
                }

                &-pic {
                    @include flex-center;
                    width: 39px;
                    height: 27px;
                    @include background-cover('https://fav-prom.com/html/verification/img/thumb.svg');
                }

                &-text {
                    @include banner-text;
                    width: 115px;
                    height: 31px;
                }
            }
        }

        &__fs {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/blue_rect_vector.svg', 'desktop');
            width: 304px;

            &-content {
                @include flex-center;
                width: 228px;
                height: 31px;
                flex-shrink: 0;
                color: $white;
                @include background-cover('https://fav-prom.com/html/verification/img/fs.svg');
            }
        }

        &--bottom {
            .banner__takeBonus {
                @include background-cover('https://fav-prom.com/html/verification/img/blue_rect_vector_bottom.svg');
            }

            .banner__currency {
                @include background-cover('https://fav-prom.com/html/verification/img/pink_rect_vector_bottom.svg');

                &-content {
                    @include background-cover('https://fav-prom.com/html/verification/img/currency_dark.svg');
                }

            }

            .banner__bonusHere {
                @include background-cover('https://fav-prom.com/html/verification/img/blue_rect_vector_bottom.svg');

            }

            .banner__fs {
                @include background-cover('https://fav-prom.com/html/verification/img/pink_rect_vector_bottom.svg');

                &-content {
                    @include background-cover('https://fav-prom.com/html/verification/img/fs_dark.svg');
                }
            }
        }
    }

    .main {
        @include flex-center;
        margin-top: $banner-height;
        height: calc(1215px - $banner-height * 2);

        &__contentWrapper {
            height: 100%;
            // width: max-content;
            @include flex-center;
            overflow: hidden;


            .sideContent {
                display: flex;
                flex-direction: column;
                align-items: center;

                &--left {
                    margin-right: 50px;
                }

                &--right {
                    margin-left: 50px;
                }

                %shared-positioning {
                    position: relative;
                    @include flex-center;
                }

                .emojiGroup {
                    @extend %shared-positioning;
                    z-index: 3;

                    &__item {
                        padding: 9px;

                        &-wrapper {
                            position: relative;
                            width: 80px;
                            height: 80px;
                        }

                        @include emoji-rotations('left');

                        &-disk,
                        &-ellipse,
                        &-smile {
                            position: absolute;
                        }

                        &-disk {
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                        }

                        &-ellipse {
                            top: 50%;
                            left: 50%;
                            width: 45px;
                            height: 45px;
                            z-index: 2;
                        }

                        &-smile {
                            top: 50%;
                            left: 50%;
                            height: 63px;
                            z-index: 3;
                        }
                    }
                }

                .bonusSpark {
                    @extend %shared-positioning;
                    margin-top: -44px;
                    z-index: 2;
                    align-self: flex-end;

                    &__content {
                        @include flex-center;
                        height: 222px;
                        @include background-cover('https://fav-prom.com/html/verification/img/spark.svg');
                    }

                    &__text {
                        width: 178px;
                        height: 72px;
                        @include background-cover('https://fav-prom.com/html/verification/img/20FS.svg');

                    }
                }

                .prizeInfo {
                    @extend %shared-positioning;
                    position: relative;
                    z-index: 1;
                    align-self: flex-end;
                    @include background-cover('https://fav-prom.com/html/verification/img/pink_rounded_vector.svg');

                    &__text {
                        display: flex;
                        flex-direction: column;
                        color: $white;
                        font-family: font('unbounded', 'semibold');
                    }
                }

                .pointers {
                    @include flex-center;
                    gap: 15px;

                    &__item {
                        @include background-cover('https://fav-prom.com/html/verification/img/thumb_pink.svg');
                    }
                }

                &--left {
                    .bonusSpark {
                        margin-right: -10px;

                        &__content {
                            width: $base-width-left;
                        }
                    }

                    .prizeInfo {
                        width: 304px;
                        height: 90px;
                        margin-top: -25px;
                        margin-right: 10px;

                        &__text {
                            width: 239px;
                            height: 52px;
                            margin: 19px 32px;
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: 0.4px;

                            &-insurance {
                                align-self: flex-start;
                            }

                            &-value {
                                align-self: flex-end;
                            }
                        }
                    }

                    .pointers {
                        margin-top: 21px;
                        width: 269px;
                        height: 57px;

                        &__item {
                            width: 79px;
                            height: 57px;
                        }
                    }
                }

                &--right {
                    .emojiGroup {
                        margin-top: -46px;
                        align-self: flex-end;
                        margin-right: 28px;

                        &__item {
                            @include emoji-rotations('right');
                        }
                    }

                    .bonusSpark {
                        margin-top: -30px;

                        &__content {
                            width: $base-width-right;
                        }
                    }

                    .prizeInfo {
                        width: 269px;
                        height: 80px;
                        margin-top: 19px;
                        align-self: center;

                        &__text {
                            width: 205px;
                            height: 41px;
                            @include background-cover('https://fav-prom.com/html/verification/img/currency_right_banner.svg');
                        }
                    }

                    .pointers {
                        width: 250px;
                        height: 53px;
                        margin-top: 0;

                        &__item {
                            width: 79px;
                            height: 57px;
                            @include background-cover('https://fav-prom.com/html/verification/img/thumb_pink_reverse.svg');
                        }
                    }
                }
            }

            .mobileSideContent {
                display: none;
            }

            .form {
                &__outerWrapper {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 20px;
                    width: 864px;
                    height: 600px;
                    padding: 43px 32px 30px 32px;
                    border-radius: 20px;
                    border: 1px solid $pink;
                    background: $dark-blue;
                }

                &__innerWrapper {
                    display: flex;
                    flex-direction: column;
                }

                &__topBar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 48px;
                    width: 100%;
                    margin-bottom: -2px;
                    position: relative;
                    z-index: 2;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: $basic-blue;
                        mask-image: url('https://fav-prom.com/html/verification/img/top_bar.png');
                        mask-size: 100% 100%;
                        mask-repeat: no-repeat;
                    }

                    &::before {
                        height: calc(100% - 4px);
                        width: calc(100% - 3px);
                    }

                    &::after {
                        z-index: 0;
                        background: $pink;
                    }

                    &-wrapper {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            top: -4px;
                            left: 45.9%;
                            width: 66px;
                            height: 3px;
                            @include background-cover('https://fav-prom.com/html/verification/img/small_bar.svg');
                            z-index: 1;
                        }
                    }

                    &-logoWrapper {
                        margin: 8px 0 8px 18px;
                        width: 31px;
                        height: 31px;
                        position: relative;
                        z-index: 2;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: calc(100% + 10px);
                            transform: translateY(-50%);
                            width: 75px;
                            height: 16px;
                            z-index: 2;
                            @include background-cover('https://fav-prom.com/html/verification/img/three_bars.svg');
                        }

                        &--logo {
                            position: absolute;
                            top: 47%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 21px;
                            z-index: 1;
                        }

                        &--backdrop {
                            height: 31px;
                            width: 31px;
                        }
                    }

                    &-btnImage {
                        height: 16px;
                        width: 16px;
                        margin: 16px 15px 15px 0;
                        z-index: 2;
                    }
                }

                &__container {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    height: 400px;
                    flex-shrink: 1;
                    border-radius: 0 0 14px 14px;
                    border: 2px solid $pink;
                    border-top: none;
                    background: $white;
                    position: relative;
                    z-index: 1;
                }

                &__image-container {
                    &--left {
                        display: flex;
                        margin-top: 28px;
                        padding-left: 20px;
                        flex: 1;

                        .form__image {
                            width: 67%;
                            height: 67%;
                            object-fit: fill;
                        }
                    }

                    &--right {
                        display: flex;
                        margin-top: 10px;
                        padding-right: 20px;
                        flex: 1;

                        .form__image {
                            width: 92%;
                            height: 92%;
                            object-fit: fill;
                        }
                    }
                }

                &__mainContent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-self: start;
                    width: 340px;
                    flex: 0 0 auto;
                    padding: 30px 0 0 0;
                    // margin: 40px 0 44px;
                }

                &__header {
                    @include flex-center;
                    flex-wrap: wrap;
                    align-self: flex-start;
                    width: 340px;
                    color: $dark-blue;
                    text-align: center;
                    font-family: font('unbounded', 'semibold');
                    font-size: 34px;
                    letter-spacing: 0.68px;
                }

                &__description {
                    width: 348px;
                    height: 51px;
                    margin-top: 14px;
                    color: $dark-blue;
                    // white-space: pre-wrap;
                    word-wrap: break-word;
                    max-width: 100%;
                    text-align: center;
                    font-family: font('unbounded', 'regular');
                    font-size: 14px;
                    letter-spacing: 0.28px;
                }

                &__wrapper {
                    margin-top: 30px;
                    margin-left: 8px;

                    .verification__form {
                        @include forms-shared;

                        &:has(input:focus) label[htmlFor="phone"] {
                            color: $dark-grey;
                        }

                        &:has(input.is-invalid) label[htmlFor="phone"] {
                            color: $error-red;
                        }
                    }

                    .confirmation__form {
                        @include forms-shared;

                        &:has(input:focus) label[htmlFor="confirmation-code"] {
                            color: $dark-grey;
                        }

                        &:has(input.is-invalid) label[htmlFor="confirmation-code"] {
                            color: $error-red;
                        }

                        input[type="number"]::-webkit-inner-spin-button,
                        input[type="number"]::-webkit-outer-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        input[type="number"] {
                            -moz-appearance: textfield;
                        }
                    }

                    .hidden {
                        display: none;
                    }
                }
            }

            // .rules {
            //     margin-bottom: 30px;
            // }

            .drop {
                max-width: 800px;
                width: 100%;

                .dropdown {
                    outline: none !important;
                    cursor: pointer;
                    position: relative;
                    z-index: 4;
                    text-align: start;

                    summary::-webkit-details-marker {
                        display: none;
                    }

                    >summary {
                        list-style: none;
                    }

                    summary {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 60px;
                        padding: 21px 20px 22px 33px;
                        position: relative;
                        outline: none !important;
                        user-select: none;
                        background-color: $basic-blue;
                        border-radius: 14px;
                        color: $basic-green;
                        font-family: font('unbounded', 'semibold');
                        font-size: 14px;
                        letter-spacing: 0.28px;

                        &:after {
                            content: '';
                            @include background-cover('https://fav-prom.com/html/verification/img/arrow.svg');
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            right: 18px;
                            top: 34%;
                        }
                    }

                    &[open] {
                        summary {
                            border-radius: 14px 14px 0 0;

                            &:after {
                                top: 25%;
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .drop-txt {
                        padding: 0 10px 30px 34px;
                        overflow-y: auto;
                        overflow-wrap: break-word;
                        font-family: font('unbounded', 'regular');
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.24px;
                        color: rgba(255, 255, 255, 0.70);
                        cursor: auto;
                        background-color: $basic-blue;
                        border-radius: 0 0 14px 14px;

                        &-list {
                            height: 360px;
                            overflow-y: scroll;
                            padding-right: 18px;

                            &::-webkit-scrollbar {
                                background: rgba($white, .3);
                                width: 3px;
                                border-radius: 50px;
                            }

                            &::-webkit-scrollbar-thumb {
                                position: relative;
                                border-radius: 50px;
                                background: $basic-green;
                            }
                        }

                        p {
                            display: block;
                            margin-bottom: 10px;
                            white-space: pre-wrap;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            a {
                                color: $basic-green;
                                text-decoration: underline;
                                font-family: font('unbounded', 'semibold');
                                position: relative;
                                font-size: 12px;

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }

                    strong {
                        margin-bottom: 10px;
                        font-family: font('unbounded', 'bold');
                        font-size: 12px;
                        color: $white;
                        display: block;
                    }

                    .retreat1 {
                        margin: 10px 0 0;
                        padding-left: 20px;
                    }

                    .retreat2 {
                        padding-left: 30px;
                    }

                    .circle {
                        margin-bottom: 0;
                        padding-left: 35px;

                        &:before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            background: $white;
                            border-radius: 50%;
                            display: inline-block;
                            margin: 0 5px 2px 0;
                        }

                        &:last-child {
                            // margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

//dynamic styles

.hidden {
    display: none;
}

.visible {
    display: flex;
}

.overflow {
    overflow: hidden !important;
}

.input-msg {
    width: 310px;
    margin-top: 8px;
}

.timerWrapper {
    display: inline-block;
}

.timer {
    color: $dark-blue;
    font-family: font('unbounded', 'medium');
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.22px;
}

.warning {
    color: #4D4D4D;
    font-family: font('unbounded', 'regular');
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.22px;
}

.error {
    color: $error-red;
    font-family: font('unbounded', 'regular');
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.22px;
}

.successBeforeHeader {
    // width: 512px !important;
    font-size: 30px !important;
    letter-spacing: 0.6px !important;
}
.beforeImage {

}

.link__button-wrapper {
    display: none;
    margin-top: 20px;

    .link__button {
        @include flex-center;
        width: 320px;
        height: 50px;
        margin-top: 10px;
        padding: 10px 16px;
        border: none;
        outline: none;
        border-radius: 2px;
        background: $button-green;
        color: $dark-blue;
        text-align: center;
        font-family: font('unbounded', 'bold');
        font-size: 14px;
        letter-spacing: 0.28px;

        &:focus-visible {
            outline: 2px solid $button-green;
            outline-offset: 2px;
        }
    }
}