@use '../helpers' as *;

:root {
    font-size: 16px;
}

body {
    -webkit-tap-highlight-color: transparent;
    overscroll-behavior: none;
}

.fav__page {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: $dark-blue url("https://fav-prom.com/html/verification/img/Union.png") repeat 50% 0/cover;
    background-size: 2000px 860px;
    z-index: 0;

    .menu-test {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .background {
        &__ellipse {
            position: absolute;
            width: 850px;
            height: 120px;
            z-index: -1;
            top: 350px;
            left: 50%;
            transform: translate(-50%, 0%);
            border-radius: 100%;
            box-shadow: 0px 0px 290px 280px rgba(255, 38, 126, 0.35);
            background: rgba(255, 38, 126, 0.4);
        }
    }

    .banner {
        width: 100%;
        height: $banner-height;

        &--top,
        &--bottom {
            position: absolute;
            left: 0;
            z-index: 10;
        }

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }

        &__content {
            display: flex;
            flex-wrap: nowrap;
        }

        &__takeBonus {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/pink_rect_vector.svg', 'desktop');
            padding-left: 57px;
            padding-right: 57px;

            &-content {
                @include banner-text;
                width: 341px;
                height: 31px;
                white-space: nowrap;
            }
        }

        &__currency {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/blue_rect_vector.svg', 'desktop');
            width: 247px;

            &-content {
                @include flex-center;
                width: 152px;
                height: 37px;
                flex-shrink: 0;
                color: $white;
                @include background-cover('https://fav-prom.com/html/verification/img/currency.svg');
            }
        }

        &__bonusHere {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/pink_rect_vector.svg', 'desktop');
            width: 458px;

            &-content {
                &-desktop {
                    @include flex-center;
                    gap: 14px;
                    width: 458px;
                    height: 70.8px;
                    padding: 0 27px;
                    color: $white;
                }

                &-mobile {
                    display: none;
                }

                &-pic {
                    @include flex-center;
                    width: 39px;
                    height: 27px;
                    @include background-cover('https://fav-prom.com/html/verification/img/thumb.svg');
                }

                &-text {
                    @include banner-text;
                    width: 115px;
                    height: 31px;
                }
            }
        }

        &__fs {
            @include colored-section($pink, 'https://fav-prom.com/html/verification/img/blue_rect_vector.svg', 'desktop');
            width: 304px;

            &-content {
                @include flex-center;
                width: 228px;
                height: 31px;
                flex-shrink: 0;
                color: $white;
                @include background-cover('https://fav-prom.com/html/verification/img/fs.svg');
            }
        }

        &--bottom {
            .banner__takeBonus {
                @include background-cover('https://fav-prom.com/html/verification/img/blue_rect_vector_bottom.svg');
            }

            .banner__currency {
                @include background-cover('https://fav-prom.com/html/verification/img/pink_rect_vector_bottom.svg');

                &-content {
                    @include background-cover('https://fav-prom.com/html/verification/img/currency_dark.svg');
                }

            }

            .banner__bonusHere {
                @include background-cover('https://fav-prom.com/html/verification/img/blue_rect_vector_bottom.svg');

            }

            .banner__fs {
                @include background-cover('https://fav-prom.com/html/verification/img/pink_rect_vector_bottom.svg');

                &-content {
                    @include background-cover('https://fav-prom.com/html/verification/img/fs_dark.svg');
                }
            }
        }
    }

    .main {
        padding: 130px 15px;
        @include flex-center;

        &__contentWrapper {
            height: 100%;
            @include flex-center;
            overflow: hidden;


            .sideContent {
                align-self: flex-start;
                margin: 103px 0 auto 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                &--left {
                    margin-right: 50px;
                }

                &--right {
                    margin-left: 50px;
                }

                %shared-positioning {
                    position: relative;
                    @include flex-center;
                }

                .emojiGroup {
                    @extend %shared-positioning;
                    z-index: 3;

                    &__item {
                        padding: 9px;

                        &-wrapper {
                            position: relative;
                            width: 80px;
                            height: 80px;
                        }

                        @include emoji-rotations('left');

                        &-disk,
                        &-ellipse,
                        &-smile {
                            position: absolute;
                        }

                        &-disk {
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                        }

                        &-ellipse {
                            top: 50%;
                            left: 50%;
                            width: 45px;
                            height: 45px;
                            z-index: 2;
                        }

                        &-smile {
                            top: 50%;
                            left: 50%;
                            height: 63px;
                            z-index: 3;
                        }
                    }
                }

                .bonusSpark {
                    @extend %shared-positioning;
                    margin-top: -44px;
                    z-index: 2;
                    align-self: flex-end;

                    &__content {
                        @include flex-center;
                        height: 222px;
                        @include background-cover('https://fav-prom.com/html/verification/img/spark.svg');
                    }

                    &__text {
                        width: 178px;
                        height: 72px;
                        @include background-cover('https://fav-prom.com/html/verification/img/20FS.svg');

                    }
                }

                .prizeInfo {
                    @extend %shared-positioning;
                    position: relative;
                    z-index: 1;
                    align-self: flex-end;
                    @include background-cover('https://fav-prom.com/html/verification/img/pink_rounded_vector.svg');

                    &__text {
                        display: flex;
                        flex-direction: column;
                        color: $white;
                        text-transform: uppercase;
                        font-family: font('unbounded', 'semibold');
                    }
                }

                .pointers {
                    @include flex-center;
                    gap: 15px;

                    &__item {
                        @include background-cover('https://fav-prom.com/html/verification/img/thumb_pink.svg');
                    }
                }

                &--left {
                    .bonusSpark {
                        margin-right: -10px;

                        &__content {
                            width: $base-width-left;
                        }
                    }

                    .prizeInfo {
                        width: 304px;
                        height: 90px;
                        margin-top: -25px;
                        margin-right: 10px;

                        &__text {
                            width: 239px;
                            height: 52px;
                            margin: 19px 32px;
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: 0.4px;

                            &-insurance {
                                align-self: flex-start;
                                font-family: font('unbounded', 'semibold');

                            }

                            &-value {
                                align-self: flex-end;
                                font-family: font('unbounded', 'semibold');
                            }
                        }
                    }

                    .pointers {
                        margin-top: 21px;
                        width: 269px;
                        height: 57px;

                        &__item {
                            width: 79px;
                            height: 57px;
                        }
                    }
                }

                &--right {
                    .emojiGroup {
                        margin-top: -46px;
                        align-self: flex-end;
                        margin-right: 28px;

                        &__item {
                            @include emoji-rotations('right');
                        }
                    }

                    .bonusSpark {
                        margin-top: -30px;

                        &__content {
                            width: $base-width-right;
                        }
                    }

                    .prizeInfo {
                        width: 269px;
                        height: 80px;
                        margin-top: 19px;
                        align-self: center;

                        &__text {
                            width: 205px;
                            height: 41px;
                            @include background-cover('https://fav-prom.com/html/verification/img/currency_right_banner.svg');
                        }
                    }

                    .pointers {
                        width: 250px;
                        height: 53px;
                        margin-top: 0;

                        &__item {
                            width: 79px;
                            height: 57px;
                            @include background-cover('https://fav-prom.com/html/verification/img/thumb_pink_reverse.svg');
                        }
                    }
                }
            }

            .mobileSideContent {
                display: none;
            }

            .form {
                &__outerWrapper {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: column;
                    gap: 20px;
                    width: 864px;
                    padding: 43px 32px 30px 32px;
                    border-radius: 20px;
                    border: 1px solid $pink;
                    background: $dark-blue;
                    transform-origin: top;
                }

                &__innerWrapper {
                    display: flex;
                    flex-direction: column;
                }

                &__topBar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 48px;
                    width: 100%;
                    margin-bottom: -2px;
                    position: relative;
                    z-index: 2;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        z-index: 1;
                        background: $basic-blue;
                        mask-image: url('https://fav-prom.com/html/verification/img/top_bar.png');
                        mask-size: 100% 100%;
                        mask-repeat: no-repeat;
                    }

                    &::before {
                        height: calc(100% - 4px);
                        width: calc(100% - 3px);
                    }

                    &::after {
                        z-index: 0;
                        background: $pink;
                    }

                    &-wrapper {
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            top: -4px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            width: 66px;
                            height: 3px;
                            @include background-cover('https://fav-prom.com/html/verification/img/small_bar.svg');
                            z-index: 1;
                        }
                    }

                    &-logoWrapper {
                        margin: 8px 0 8px 18px;
                        width: 31px;
                        height: 31px;
                        position: relative;
                        z-index: 2;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: calc(100% + 10px);
                            transform: translateY(-50%);
                            width: 75px;
                            height: 16px;
                            z-index: 2;
                            @include background-cover('https://fav-prom.com/html/verification/img/three_bars.svg');
                        }

                        &--logo {
                            position: absolute;
                            top: 47%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 21px;
                            z-index: 1;
                        }

                        &--backdrop {
                            height: 31px;
                            width: 31px;
                        }
                    }

                    &-btnImage {
                        height: 16px;
                        width: 16px;
                        margin: 16px 15px 15px 0;
                        z-index: 2;
                    }
                }

                &__container {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0 10px 10px;
                    flex-shrink: 1;
                    border-radius: 0 0 14px 14px;
                    border: 2px solid $pink;
                    border-top: none;
                    background: $white;
                    position: relative;
                    z-index: 1;
                }

                &__image-container {
                    &--left {
                        display: flex;
                        margin-top: 28px;
                        padding-left: 20px;
                        flex: 1;

                        .form__image {
                            width: 67%;
                            height: 67%;
                            object-fit: fill;
                        }
                    }

                    &--right {
                        display: flex;
                        margin-top: 10px;
                        padding-right: 20px;
                        flex: 1;

                        .form__image {
                            width: 92%;
                            height: 92%;
                            object-fit: fill;
                        }
                    }
                }

                &__mainContent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    align-self: start;
                    width: 340px;
                    flex: 0 0 auto;
                    padding: 30px 0 0 0;

                    .loading__wrapper {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 7.5px;
                        height: 135.5px;
                        width: 320px;
                        margin-top: 30px;
                        margin-bottom: 34px;

                        .square-1,
                        .square-2,
                        .square-3 {
                            display: flex;
                            width: 13px;
                            height: 13px;
                            transition: background-color 0.2s ease-in-out;
                            background-color: $loading-grey;

                        }
                    
                        @keyframes animateColors {
                            0% {
                                background-color: $loading-grey;
                            }
                            50% {
                                background-color: $pink;
                            }
                            100% {
                                background-color: $loading-grey;
                            }
                        }

                        .square-1 {
                            animation: animateColors 1s infinite;
                            animation-delay: 0s;
                        }

                        .square-2 {
                            animation: animateColors 1s infinite;
                            animation-delay: 0.2s;
                        }

                        .square-3 {
                            animation: animateColors 1s infinite;
                            animation-delay: 0.4s;
                        }
                    }

                    .link__button-wrapper {
                        margin-top: 117px;
                        margin-bottom: 34px;

                        .link__button {
                            @include link-button;
                        }
                    }
                }

                &__header {
                    @include flex-center;
                    flex-wrap: wrap;
                    align-self: flex-start;
                    width: 340px;
                    color: $dark-blue;
                    text-align: center;
                    font-family: font('unbounded', 'semibold');
                    font-size: 34px;
                    text-transform: uppercase;
                    letter-spacing: 0.68px;
                }

                &__description {
                    width: 348px;
                    height: 51px;
                    margin-top: 14px;
                    color: $dark-blue;
                    word-wrap: break-word;
                    max-width: 100%;
                    text-align: center;
                    font-family: font('unbounded', 'regular');
                    font-size: 14px;
                    letter-spacing: 0.28px;
                }

                &__wrapper {
                    margin-top: 30px;
                    margin-bottom: 34px;
                    margin-left: 8px;

                    .code-placeholder {
                        position: relative;
                        width: 100%;

                        &::before {
                            content: attr(data-placeholder);
                            position: absolute;
                            top: 26%;
                            left: 22px;
                            transform: translateY(-50%);
                            color: $input-dark-blue;
                            font-family: font('unbounded', 'regular');
                            pointer-events: none;
                            z-index: 1;
                            font-size: 14px;
                            letter-spacing: .28px;
                            white-space: pre;
                        }

                        input {
                            color: transparent !important;
                        }

                    }

                    .verification__form {
                        @include forms-shared;

                        &:has(input:focus) label[htmlFor="phone"] {
                            color: $dark-grey;
                        }

                        &:has(input.is-invalid) label[htmlFor="phone"] {
                            color: $error-red;
                        }

                        input.success-change {
                            position: relative;
                            padding-right: 40px;

                            &::after {
                                content: "";
                                @include background-cover('/img/success_change.svg');
                                position: absolute;
                                top: 50%;
                                right: 10px;
                                transform: translateY(-50%);
                                width: 20px;
                                height: 15px;
                                z-index: 1;
                                pointer-events: none;
                                color: $basic-green;
                            }
                        }
                    }

                    .confirmation__form {
                        @include forms-shared;

                        &:has(input:focus) label[htmlFor="confirmation-code"] {
                            color: $dark-grey;
                        }

                        &:has(input.is-invalid) label[htmlFor="confirmation-code"] {
                            color: $error-red;
                        }
                    }

                    .hidden {
                        display: none !important;
                    }
                }

                &__container-successBefore {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: 0 10px 10px;
                    flex-shrink: 1;
                    border-radius: 0 0 14px 14px;
                    border: 2px solid $pink;
                    border-top: none;
                    background: $white;
                    position: relative;
                    z-index: 1;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 10%;
                        left: 3%;
                        width: 100px;
                        height: 100px;
                        @include background-cover('https://fav-prom.com/html/verification/img/pink_smile.svg');
                        z-index: 1;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 60%;
                        left: 5%;
                        width: 157px;
                        height: 101px;
                        @include background-cover('https://fav-prom.com/html/verification/img/pink_spark.svg');
                        z-index: 1;
                    }

                    &--header {
                        @include flex-center;
                        width: 100%;
                        padding: 140px 130px 0;
                        color: $dark-blue;
                        text-align: center;
                        font-family: font('unbounded', 'semibold');
                        font-size: 30px;
                        text-transform: uppercase;
                        letter-spacing: 0.6px;
                    }

                    &--description {
                        position: relative;
                        margin-top: 20px;
                        color: $dark-blue;
                        word-wrap: break-word;
                        width: 306px;
                        max-width: 100%;
                        text-align: center;
                        font-family: font('unbounded', 'regular');
                        font-size: 14px;
                        letter-spacing: 0.28px;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 72px;
                            left: 251px;
                            width: 28px;
                            height: 23px;
                            transform: rotate(15deg);
                            @include background-cover('https://fav-prom.com/html/verification/img/logo.svg');
                            z-index: 2;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: 60%;
                            left: 80%;
                            width: 300px;
                            height: 187px;
                            @include background-cover('https://fav-prom.com/html/verification/img/before_snake.png');
                            z-index: 1;
                        }
                    }

                    .link__button-wrapper {
                        position: relative;
                        z-index: 2;
                        margin-top: 106px;
                        margin-bottom: 34px;

                        .link__button {
                            @include link-button;
                            margin-top: 0;
                        }
                    }


                }

                &__container-success {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding: 0 10px 10px;
                    flex-shrink: 1;
                    border-radius: 0 0 14px 14px;
                    border: 2px solid $pink;
                    border-top: none;
                    background: $white;
                    position: relative;
                    z-index: 1;

                    &-image-container {
                        &--left {
                            display: flex;
                            margin-top: 28px;
                            padding-left: 20px;
                            flex: 1;

                            .form__image {
                                width: 67%;
                                height: 67%;
                                object-fit: fill;
                            }
                        }

                        &--right {
                            display: flex;
                            margin-top: 10px;
                            padding-right: 20px;
                            flex: 1;

                            .form__image {
                                width: 92%;
                                height: 92%;
                                object-fit: fill;
                            }
                        }
                    }

                    &-mainContent {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        align-self: start;
                        width: 340px;
                        flex: 0 0 auto;
                        padding: 30px 0 0 0;

                        .successPrize {
                            position: relative;
                            display: flex;
                            margin-top: 24px;
                            height: 143px;

                            &__insurance {
                                position: relative;
                                display: flex;
                                @include background-cover('https://fav-prom.com/html/verification/img/prize_stack.png');
                                width: 330px;
                                height: 107px;
                                margin-top: 25px;

                                &-text {
                                    position: absolute;
                                    top: 40px;
                                    left: 26px;
                                    @include flex-center;
                                    width: 216px;
                                    height: 48px;
                                    flex-direction: column;
                                    color: $white;
                                    text-transform: uppercase;
                                    font-family: font('unbounded', 'semibold');
                                    font-size: 18px;

                                    &--insurance {
                                        font-family: font('unbounded', 'semibold');
                                        align-self: flex-start;
                                    }

                                    &--value {
                                        font-family: font('unbounded', 'semibold');
                                        align-self: flex-end;
                                    }
                                }
                            }

                            &__FS {
                                position: relative;
                                width: 221px;
                                height: 143px;
                                margin-top: 5px;
                                margin-left: -110px;
                                @include background-cover('https://fav-prom.com/html/verification/img/filled_spark.png');
                                z-index: 2;
                            }
                        }

                        .link__button-wrapper {
                            margin-top: 20px;
                            margin-bottom: 34px;

                            .link__button {
                                @include link-button;
                            }
                        }
                    }

                    &--header {
                        @include flex-center;
                        flex-wrap: wrap;
                        align-self: flex-start;
                        width: 327px;
                        color: $dark-blue;
                        text-align: center;
                        font-family: font('unbounded', 'semibold');
                        font-size: 34px;
                        text-transform: uppercase;
                        letter-spacing: 0.68px;
                    }

                    &--description {
                        width: 306px;
                        height: 54px;
                        margin-top: 14px;
                        color: $dark-blue;
                        word-wrap: break-word;
                        max-width: 100%;
                        text-align: center;
                        font-family: font('unbounded', 'regular');
                        font-size: 14px;
                        letter-spacing: 0.28px;
                    }
                }
            }

            .rule {
                max-width: 800px;
                width: 100%;
                padding: 20px;
                background-color: $basic-blue;
                border-radius: 14px;
                color: $basic-green;
                font-family: font('unbounded', 'semibold');
                font-size: 12px;
                letter-spacing: 0.28px;
                line-height: normal;

                br {
                    margin: 10px 0;
                    display: block;
                    content: "";
                }
            }

            .drop {
                max-width: 800px;
                width: 100%;

                .dropdown {
                    outline: none !important;
                    cursor: pointer;
                    position: relative;
                    z-index: 4;
                    text-align: start;

                    summary::-webkit-details-marker {
                        display: none;
                    }

                    >summary {
                        list-style: none;
                    }

                    summary {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 60px;
                        padding: 21px 20px 22px 33px;
                        position: relative;
                        outline: none !important;
                        user-select: none;
                        background-color: $basic-blue;
                        border-radius: 14px;
                        color: $basic-green;
                        font-family: font('unbounded', 'semibold');
                        font-size: 14px;
                        letter-spacing: 0.28px;

                        &:after {
                            content: '';
                            @include background-cover('https://fav-prom.com/html/verification/img/arrow.svg');
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            right: 18px;
                            top: 34%;
                        }
                    }

                    &[open] {
                        summary {
                            border-radius: 14px 14px 0 0;

                            &:after {
                                top: 25%;
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .drop-txt {
                        padding: 0 10px 30px 34px;
                        overflow-y: auto;
                        overflow-wrap: break-word;
                        font-family: font('unbounded', 'regular');
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.24px;
                        color: rgba(255, 255, 255, 0.70);
                        cursor: auto;
                        background-color: $basic-blue;
                        border-radius: 0 0 14px 14px;

                        &-list {
                            max-height: 360px;
                            overflow-y: auto;
                            padding-right: 18px;
                            scrollbar-width: auto;

                            &::-webkit-scrollbar {
                                background: rgba($white, .3);
                                width: 3px;
                                border-radius: 50px;
                            }

                            &::-webkit-scrollbar-thumb {
                                position: relative;
                                border-radius: 50px;
                                background: $basic-green;
                            }
                        }

                        p {
                            display: block;
                            margin-bottom: 10px;
                            font-family: font('unbounded', 'regular');
                            font-size: 12px;
                            line-height: 20px;
                            letter-spacing: 0.24px;
                            white-space: pre-wrap;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            a {
                                color: $basic-green;
                                text-decoration: underline;
                                font-family: font('unbounded', 'semibold');
                                position: relative;
                                font-size: 12px;

                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }

                    strong {
                        margin-bottom: 10px;
                        font-family: font('unbounded', 'bold');
                        font-size: 12px;
                        color: $white;
                        display: block;
                    }

                    .retreat1 {
                        margin: 10px 0 0;
                        padding-left: 20px;
                    }

                    .retreat2 {
                        padding-left: 30px;
                    }

                    .circle {
                        margin-bottom: 0;
                        padding-left: 35px;

                        &:before {
                            content: '';
                            width: 4px;
                            height: 4px;
                            background: $white;
                            border-radius: 50%;
                            display: inline-block;
                            margin: 0 5px 2px 0;
                        }
                    }
                }
            }
        }
    }

    img {
        width: 100%;
        height: auto;
    }
}

//dynamic styles

.hidden {
    display: none !important;
}

.visible {
    display: flex !important;
}

.overflow {
    overflow: hidden !important;
}

.input-msg {
    width: 310px;
    margin-top: 8px;
}

.timerWrapper {
    display: inline-block;
}

.timer {
    color: $dark-blue;
    font-family: font('unbounded', 'medium');
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.22px;
}

.warning {
    color: #4D4D4D;
    font-family: font('unbounded', 'regular');
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.22px;
}

.error {
    color: $error-red;
    font-family: font('unbounded', 'regular');
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.22px;
}

/// DARK
.dark {
    .fav__page {
        background: #040612 url("../img/Union.png") repeat 50% 0/cover;

        .banner {

            &__currency,
            &__fs {
                @include colored-section($pink, '../img/dark_rect_vector.svg', 'desktop');
            }
        }

        .banner.banner--bottom {

            .banner__currency,
            .banner__fs {
                @include colored-section($pink, "https://fav-prom.com/html/verification/img/pink_rect_vector_bottom.svg", 'desktop');
            }

            .banner__bonusHere,
            .banner__takeBonus {
                @include background-cover('../img/dark_rect_vector_bottom.svg');
            }
        }

        .main {
            &__contentWrapper {
                .mobileSideContent {
                    &--bottom {
                        .pointers__item {
                            transform: scale(-1, 1);
                        }
                    }

                    .pointers__item {
                        background: url("../img/thumb_pink_reverse-dark.svg") no-repeat 0 0/cover;
                    }

                    .prizeInfo {
                        background: #040612;
                    }

                    .bonusSpark {
                        &__content {
                            background: url("../img/spark-dark.svg") no-repeat 0 0/contain;
                        }
                    }
                }

                .sideContent {
                    .bonusSpark {
                        &__content {
                            @include background-cover('../img/spark-dark.svg');
                        }
                    }
                }

                .rule {
                    background: #1F1F1F;
                }

                .drop {
                    .dropdown {
                        summary {
                            background: #1F1F1F;
                        }
                    }
                }

                .form {
                    &__container {
                        &-success-mainContent {
                            .successPrize {
                                &__insurance {
                                    background: url("../img/prize_stack-dark.png") no-repeat 0 0/contain;
                                }
                            }

                        }
                    }

                    &__topBar {
                        &::before {
                            background: #1F1F1F;
                        }
                    }

                    &__outerWrapper {
                        background: #040612;
                    }
                }
            }
        }
    }
}