@use '../helpers' as *;

:root {
    font-size: 16px;
}

.fav__page {
    position: relative;
    height: 100vh;
    // height: 860px;
    width: 100%;
    overflow: hidden;

    .background {
        &__grid {
            @include fixed-full;
            z-index: -2;
            background-color: $dark-blue;
            @include background-cover('/img/Union.svg');
        }

        &__ellipse {
            position: fixed;
            width: 1695px;
            height: 763px;
            z-index: -1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 1695px;
            background-color: rgba($pink, 0.22);
            @include background-cover('/img/Ellipse.svg');
            filter: blur(100px);
        }
    }

    .banner {
        width: 100%;
        height: $banner-height;

        &--top,
        &--bottom {
            position: fixed;
            left: 0;
            z-index: 10;
        }

        &--top {
            top: 0;
        }

        &--bottom {
            bottom: 0;
        }

        &__content {
            display: flex;
            flex-wrap: nowrap;
        }

        &__takeBonus {
            @include colored-section($pink, '/img/pink_rect_vector.svg');
            width: 456px;

            &-content {
                @include banner-text;
                width: 341px;
                height: 31px;
                white-space: nowrap;
            }
        }

        &__currency {
            @include colored-section($pink, '/img/blue_rect_vector.svg');
            width: 247px;

            &-content {
                @include flex-center;
                width: 152px;
                height: 37px;
                flex-shrink: 0;
                color: $white;
                @include background-cover('/img/currency.svg');
            }
        }

        &__bonusHere {
            @include colored-section($pink, '/img/pink_rect_vector.svg');
            width: 458px;

            &-content {
                @include flex-center;
                gap: 14px;
                width: 458px;
                height: 70.8px;
                padding: 0 27px;
                color: $white;

                &-pic {
                    @include flex-center;
                    width: 39px;
                    height: 27px;
                    @include background-cover('/img/thumb.svg');
                }

                &-text {
                    @include banner-text;
                    width: 115px;
                    height: 31px;
                }
            }
        }

        &__fs {
            @include colored-section($pink, '/img/blue_rect_vector.svg');
            width: 304px;

            &-content {
                @include flex-center;
                width: 228px;
                height: 31px;
                flex-shrink: 0;
                color: $white;
                @include background-cover('/img/fs.svg');
            }
        }

        &--bottom {
            .banner__takeBonus {
                @include background-cover('/img/blue_rect_vector_bottom.svg');
            }

            .banner__currency {
                @include background-cover('/img/pink_rect_vector_bottom.svg');

                &-content {
                    @include background-cover('/img/currency_dark.svg');
                }

            }

            .banner__bonusHere {
                @include background-cover('/img/blue_rect_vector_bottom.svg');

            }

            .banner__fs {
                @include background-cover('/img/pink_rect_vector_bottom.svg');

                &-content {
                    @include background-cover('/img/fs_dark.svg');
                }
            }
        }
    }

    .main {
        @include flex-center;
        margin-top: $banner-height;
        height: calc(100vh - $banner-height * 2);

        &__contentWrapper {
            height: 100%;
            width: max-content;
            @include flex-center;
            border-radius: 20px;
            overflow: hidden;


            .sideContainer {
                display: flex;
                flex-direction: column;
                align-items: center;

                &--left {
                    margin-right: 55px;
                }

                &--right {
                    margin-left: 45px;
                }

                %shared-positioning {
                    position: relative;
                    @include flex-center;
                }

                .emojiGroup {
                    @extend %shared-positioning;
                    z-index: 3;

                    &__item {
                        padding: 9px;

                        &-wrapper {
                            position: relative;
                            width: 80px;
                            height: 80px;
                        }

                        @include emoji-rotations('left');

                        &-disk,
                        &-ellipse,
                        &-smile {
                            position: absolute;
                        }

                        &-disk {
                            inset: 0;
                            width: 100%;
                            height: 100%;
                            z-index: 1;
                        }

                        &-ellipse {
                            top: 50%;
                            left: 50%;
                            width: 45px;
                            height: 45px;
                            z-index: 2;
                        }

                        &-smile {
                            top: 50%;
                            left: 50%;
                            height: 63px;
                            z-index: 3;
                        }
                    }
                }

                .bonusSpark {
                    @extend %shared-positioning;
                    margin-top: -44px;
                    z-index: 2;
                    align-self: flex-end;

                    &__content {
                        @include flex-center;
                        height: 222px;
                        @include background-cover('/img/spark.svg');
                    }

                    &__text {
                        width: 178px;
                        color: $pink;
                        text-align: center;
                        font-family: font('unbounded', 'semibold');
                        font-size: 44px;
                        letter-spacing: 0.88px;
                        transform: rotate(-15deg);
                    }
                }

                .prizeInfo {
                    @extend %shared-positioning;
                    position: relative;
                    z-index: 1;
                    align-self: flex-end;
                    @include background-cover('/img/pink_rounded_vector.svg');

                    &__text {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        color: $white;
                        font-family: font('unbounded', 'semibold');
                    }
                }

                .pointers {
                    @include flex-center;
                    gap: 15px;

                    &__item {
                        @include background-cover('/img/thumb_pink.svg');
                    }
                }

                &--left {
                    .bonusSpark {
                        margin-right: -10px;

                        &__content {
                            width: $base-width-left;
                        }
                    }

                    .prizeInfo {
                        width: 304px;
                        height: 90px;
                        margin-top: -25px;
                        margin-right: 10px;

                        &__text {
                            width: 239px;
                            height: 52px;
                            margin: 19px 32px;
                            font-size: 20px;
                            line-height: 26px;
                            letter-spacing: 0.4px;

                            &-insurance {
                                align-self: flex-start;
                            }

                            &-value {
                                align-self: flex-end;
                            }
                        }
                    }

                    .pointers {
                        margin-top: 21px;
                        width: 269px;
                        height: 57px;

                        &__item {
                            width: 79px;
                            height: 57px;
                        }
                    }
                }

                &--right {
                    .emojiGroup {
                        margin-top: -44px;
                        margin-left: 48px;

                        &__item {
                            @include emoji-rotations('right');
                        }
                    }

                    .bonusSpark {
                        margin-top: -30px;
                        margin-right: -22px;

                        &__content {
                            width: $base-width-right;
                        }
                    }

                    .prizeInfo {
                        width: 269px;
                        height: 80px;
                        margin-top: 19px;
                        margin-right: 34px;

                        &__text {
                            width: 205px;
                            height: 41px;
                            @include background-cover('/img/currency_right_banner.svg');
                        }
                    }

                    .pointers {
                        width: 250px;
                        height: 53px;
                        margin-top: 0;

                        &__item {
                            width: 79px;
                            height: 57px;
                            @include background-cover('/img/thumb_pink_reverse.svg');
                        }
                    }
                }
            }

            .form {
                &__outerWrapper {
                    display: flex;
                    flex-direction: column;
                    width: 864px;
                    // min-width: 864px;
                    // flex-shrink: 0;
                    height: 600px;
                    padding: 43px 32px 0;
                    border-radius: 20px;
                    border: 1px solid $pink;
                    background: $dark-blue;
                }

                &__innerWrapper {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-self: flex-start;
                    margin-bottom: 20px;
                }

                &__topBar {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 50px;
                    margin-bottom: -6px;
                    position: relative;
                    z-index: 2;
                    @include background-cover('/img/top_bar.svg');
                    background-size: 100% 100%;

                    &::before,
                    &::after {
                        content: '';
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }

                    &::before {
                        top: -2px;
                        width: 66px;
                        height: 3px;
                        @include background-cover('/img/small_bar.svg');
                        z-index: 1;
                    }

                    &::after {
                        top: -1px;
                        width: 64px;
                        height: 1px;
                        @include background-cover('/img/small_bar_inner.svg');
                        z-index: 2;
                    }

                    &-logoWrapper {

                        width: 31px;
                        height: 31px;
                        position: relative;
                        margin: 8px 0 8px 18px;

                        &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: calc(100% + 10px);
                            transform: translateY(-50%);
                            width: 75px;
                            height: 16px;
                            @include background-cover('/img/three_bars.svg');
                        }

                        &--logo {
                            position: absolute;
                            top: 47%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 21px;
                            z-index: 1;
                        }

                        &--backdrop {
                            height: 31px;
                            width: 31px;
                        }
                    }

                    &-btnImage {
                        height: 16px;
                        width: 16px;
                        margin: 16px 15px 15px 0;
                    }
                }

                &__container {
                    display: flex;
                    justify-content: space-between;
                    flex-shrink: 0;
                    height: 400px;
                    border-radius: 0 0 14px 14px;
                    border: 2px solid $pink;
                    background: $white;
                    position: relative;
                    z-index: 1;
                }

                &__picture {
                    display: flex;

                    &-left {
                        width: 97px;
                        height: 97px;
                        padding: 26px 76px 0 26px;
                        @include background-cover('/img/pink_smile.svg');
                    }

                    &-right {
                        width: 158px;
                        height: 102px;
                        padding: 31px 23px 0 15px;
                        @include background-cover('/img/pink_spark.svg');
                    }
                }

                &__mainContent {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 40px 0 44px;
                }

                &__header {
                    @include flex-center;
                    flex-wrap: wrap;
                    align-self: flex-start;
                    width: 340px;
                    color: $dark-blue;
                    text-align: center;
                    font-family: font('unbounded', 'semibold');
                    letter-spacing: 0.68px;
                }

                &__description {
                    width: 348px;
                    height: 51px;
                    margin-top: 14px;
                    color: $dark-blue;
                    white-space: pre-wrap;
                    word-wrap: break-word;
                    max-width: 100%;
                    text-align: center;
                    font-family: font('unbounded', 'regular');
                    font-size: 14px;
                    letter-spacing: 0.28px;
                }

                &__wrapper {
                    margin-block-start: 34px;

                    .verification__form {
                        @include forms-shared;

                        &:has(input:focus) label[htmlFor="phone"] {
                            color: $dark-grey;
                        }

                        &:has(input.is-invalid) label[htmlFor="phone"] {
                            color: $error-red;
                        }
                    }

                    .confirmation__form {
                        @include forms-shared;
                    }
                }
            }

            // .rules {
            //     // padding-bottom: 70px;
            // }

            .drop {
                max-width: 800px;
                width: 100%;

                .dropdown {
                    outline: none !important;
                    cursor: pointer;
                    position: relative;
                    z-index: 1;
                    text-align: start;

                    summary::-webkit-details-marker {
                        display: none;
                    }

                    >summary {
                        list-style: none;
                    }

                    summary {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 60px;
                        padding: 21px 20px 22px 33px;
                        position: relative;
                        outline: none !important;
                        user-select: none;
                        background-color: $basic-blue;
                        border-radius: 14px;
                        color: $basic-green;
                        font-family: font('unbounded', 'semibold');
                        font-size: 14px;
                        letter-spacing: 0.28px;

                        &:after {
                            content: '';
                            @include background-cover('/img/arrow.svg');
                            display: inline-block;
                            width: 24px;
                            height: 24px;
                            position: absolute;
                            right: 18px;
                            top: 34%;
                        }
                    }

                    &[open] {
                        summary {
                            border-radius: 14px 14px 0 0;

                            &:after {
                                top: 25%;
                                transform: rotate(180deg);
                            }
                        }
                    }

                    .drop-txt {
                        padding: 0 10px 30px 34px;
                        overflow-y: auto;
                        overflow-wrap: break-word;
                        font-family: font('unbounded', 'regular');
                        font-size: 12px;
                        line-height: 20px;
                        letter-spacing: 0.24px;
                        color: rgba(255, 255, 255, 0.70);
                        cursor: auto;
                        background-color: $basic-blue;
                        border-radius: 0 0 14px 14px;

                        &-list {
                            height: 360px;
                            overflow-y: scroll;
                            padding-right: 18px;

                            &::-webkit-scrollbar {
                                background: rgba($white, .3);
                                width: 3px;
                                border-radius: 50px;
                            }

                            &::-webkit-scrollbar-thumb {
                                position: relative;
                                border-radius: 50px;
                                // background: $green;
                            }
                        }

                        p {
                            display: block;
                            margin-bottom: 10px;
                            white-space: pre-wrap;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            // a {
                            //     // color: $green;
                            //     text-decoration: underline;
                            //     // font-family: $font-play-bold;
                            //     position: relative;
                            //     font-size: 14px;

                            //     &:hover {
                            //         text-decoration: none;
                            //     }
                            // }
                        }
                    }
                }
            }
        }
    }
}