//Play Fonts
@font-face {
    font-family: 'Play-Regular';
    src: url('https://favoritpromo.com/html/predictor/fonts/Play/Play-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Play-Bold';
    src: url('https://favoritpromo.com/html/predictor/fonts/Play/Play-Bold.woff2');
    font-weight: 700;
}

;

//Exo2 Fonts
@font-face {
    font-family: 'Exo2-Regular';
    src: url('https://favoritpromo.com/html/predictor/fonts/Exo2/Exo2-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Exo2-Medium';
    src: url('https://favoritpromo.com/html/predictor/fonts/Exo2/Exo2-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Exo2-Bold';
    src: url('https://favoritpromo.com/html/predictor/fonts/Exo2/Exo2-Bold.woff2');
    font-weight: 700;
}

;