.main_banner {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;

    &>p {
        width: 33vw;
        border: 2px solid black;
    }
}

.main_form {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 4rem;

    .verification_form button[disabled] {
        opacity: 0.6;
        cursor: not-allowed;
    }

    .verification_form input:invalid {
        border-color: #ff0000;
    }
}

.hidden {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.visible {
    opacity: 1;
}