@use 'sass:map';
@use 'variables' as *;

// Layout mixins
@mixin fixed-full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Background mixins
@mixin background-cover($url) {
    background-image: url($url);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// Banner mixins
@function font($family, $weight) {
    @return map.get(map.get($fonts, $family), $weight);
}

@mixin banner-section($layout) {
    @include flex-center;
    flex-shrink: 0;

    @if $layout =='desktop' {
        height: $banner-content-height;
    }

    @if $layout =='tablet' {
        height: $tablet-banner-content-height;
    }

    @if $layout =='mobile' {
        height: $mobile-banner-height !important;
    }
}

@mixin banner-text {
    @include flex-center;
    flex-shrink: 0;
    color: $white;
    text-align: center;
    font-family: font('unbounded', 'semibold');
    font-size: 25px;
    letter-spacing: 0.5px;
    text-transform: uppercase
}

@mixin colored-section($color, $bg-image, $layout) {
    @include banner-section($layout);
    background-color: $color;
    @include background-cover($bg-image);
}

//Side content mixins
@mixin emoji-rotations($side) {
    $rotations: (
        'left': (1: (disk: 87.533deg, smile: 0deg),
            2: (disk: -160.771deg, smile: 15deg),
            3: (disk: -87.517deg, smile: 30deg)),
        'right': (1: (disk: 117.533deg, smile: 30deg),
            2: (disk: -160.771deg, smile: 15deg),
            3: (disk: -117.533deg, smile: 0deg))
    );

@for $i from 1 through 3 {
    &:nth-child(#{$i}) {
        $rotation: map.get(map.get(map.get($rotations, $side), $i), 'disk');
        $smile-rotation: map.get(map.get(map.get($rotations, $side), $i), 'smile');

        .emojiGroup__item-disk {
            transform: rotate($rotation);
        }

        .emojiGroup__item-ellipse {
            transform: translate(-50%, -50%) rotate($rotation);
        }

        .emojiGroup__item-smile {
            transform: translate(-50%, -50%) rotate($smile-rotation);
        }
    }
}
}

//Mixins for the form
@mixin forms-shared {
    @include flex-center;
    align-items: flex-start;
    flex-direction: column;

    label {
        align-self: flex-start;
        color: $dark-blue;
        font-family: font('unbounded', 'regular');
        font-size: 12px;
        letter-spacing: 0.24px;
    }

    input {
        inline-size: 320px;
        margin-block-start: 10px;
        padding: 15px 0 16px 21px;
        background-color: $light-grey;
        border: 1px solid $grey;
        border-radius: 2px;
        caret-color: $pink;
        color: $input-dark-blue;
        font-family: font('unbounded', 'regular');
        font-size: 14px;
        letter-spacing: 0.28px;

        &::placeholder {
            color: $dark-grey;
            font-family: font('unbounded', 'regular');
            font-size: 14px;
            letter-spacing: 0.28px;
        }

        &::-moz-placeholder {
            opacity: 1;
        }

        &:hover {
            border-color: $basic-green;
        }

        &:focus,
        :focus-visible {
            border-color: $basic-blue;
            outline: none;
        }

        &.is-invalid {
            border-color: $error-red;
        }
    }

    button {
        @include flex-center;
        width: 320px;
        height: 50px;
        margin-top: 10px;
        padding: 10px 16px;
        gap: 10px;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 2px;
        background: $button-green;
        color: $dark-blue;
        text-align: center;
        font-family: font('unbounded', 'bold');
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.28px;
        transition: all 0.3s ease;
        cursor: pointer;

        &:focus-visible {
            outline: 2px solid $button-green;
            outline-offset: 2px;
        }

        &:hover {
            color: $dark-blue-hover;
            background: $button-green-hover;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.6;
        }
    }
}

@mixin link-button {
    @include flex-center;
    width: 320px;
    height: 50px;
    margin-top: 10px;
    padding: 10px 16px;
    border: none;
    outline: none;
    border-radius: 2px;
    background: $button-green;
    color: $dark-blue;
    text-align: center;
    font-family: font('unbounded', 'bold');
    font-size: 14px;
    letter-spacing: 0.28px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;

    &:focus-visible {
        outline: 2px solid $button-green;
        outline-offset: 2px;
    }

    &:hover {
        color: $dark-blue-hover;
        background: $button-green-hover;
    }
}