$dark-blue: #00003D;
$input-dark-blue: #02013E;
$basic-blue: #005;
$pink: #FF267E;
$white: #fff;
$light-grey: #EDEDED;
$grey: #CCC;
$dark-grey: #959595;
$basic-green: #05C48A;
$button-green: #05C489;
$label-grey: rgba(77, 77, 77, 0.80);
$error-red: #DA1A32;

// Dimensions
$banner-height: 71.2px;
$banner-content-height: 70.8px;
$base-width-left: 344px;
$base-width-right: 355px;
$tablet-banner-height: 50px;
$tablet-banner-content-height: 49.7px !important;
$mobile-banner-height: 36px;

// Fonts
$fonts: (
    'unbounded': ('regular': Unbounded-Regular,
        'medium': Unbounded-Medium,
        'bold': Unbounded-Bold,
        'semibold': Unbounded-SemiBold,
    )
);